<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>PesanFood</title>
</head>
<body>
<skip-content></skip-content>
<header>
    <app-bar></app-bar>
    <nav>
        <nav-list></nav-list>
    </nav>
</header>
<hero-element></hero-element>
<main id="main">
    <various-culinary></various-culinary>
    <promo-food></promo-food>
    <banner-hero></banner-hero>
    <explore-resto></explore-resto>
</main>
<button-top></button-top>
<footer>
    <footer-text></footer-text>
</footer>
</body>
</html>
