@use '../lib/root.scss' as root;

.category {
    padding-top: 3em;
    h2 {
        color: root.$color-scondary-2;
        margin: 0 .5em .5em;
    }

    .data-category::-webkit-scrollbar{
        width: 0;
    }

    .data-category {
        padding: 1em 1em;
        width: 100%;
        box-sizing: border-box;
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        gap: 1.5em 1em;

        section {
            width: 250px;
            height: 100px;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;
            padding-right: .5em;
            background-color: white;
            border: 2px solid #ddd;
            box-shadow: 0px 3px 10px rgba(0,0,0,.3);

            a {
                display: flex;
                width: 100%;
                text-decoration: none;
                color: root.$color-dark;
            }
    
            .picture {
                border-radius: 10px;
                overflow: hidden;
                width: 120px;
                height: 100px;
                margin-right: .5em;
                position: relative;
            }
    
            .desc-category {
                height: 100%;
                padding-top: .5em;
                max-width: 120px;
                display: flex;
                flex-direction: column;
                text-overflow: ellipsis;
            }
    
            img {
                width: 100%;
                height: 100%;
            }
    
            h3 {
                font-size: 1em;
                margin-bottom: .3em;

            }
    
            p {
                font-size: .8em;
            }
        }
    }

}

@media screen and (min-width: 1024px){
    .category {
        h2 {
            font-size: 2em;
            color: root.$color-scondary-2;
        }
        .data-category {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            section:hover {
                transform: translateY(-5px);
                transition: .5s;
            }
        }
    }
}