@use '../lib/root.scss' as root;

header {
    background-color: white;
    color: root.$color-scondary-2;
    padding: .7em .5em;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

    div {
       display:flex;
       justify-content: space-between;

       h1 {
           font-size: 2em;
       }
    }
}

@media  screen and (min-width: 480px) {
    header {
        div {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5em 2em;
    }
}